html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
  
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  p {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-size: inherit;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
  }
  
  .bg-main {
    background-image: url("../images/bg-main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
  }
  
  .header {
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .menu {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .menu__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .menu__item {
    color: #fff;
    font-size: 17px;
    margin-right: 50px;
    letter-spacing: 0.85px;
    position: relative;
    text-decoration: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
  }
  
  .menu__item:nth-last-child(1) {
    margin-right: 0;
  }
  
  .menu__item a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #fff;
    -webkit-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
  }
  
  .menu__item a:hover:after,
  .menu__item :focus:after {
    width: 100%;
  }
  
  .burger-btn {
    position: fixed;
    right: 15px;
    display: none;
    width: 40px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  .burger-btn div {
    height: 2px;
    background-color: #fff;
    margin-bottom: 10px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  .burger-btn.active .line-1 {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: 10%;
    left: 0;
    width: 40px;
  }
  
  .burger-btn.active .line-2 {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  
  .burger-btn.active .line-3 {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
    top: 10%;
    left: 0;
    width: 40px;
  }
  
  .menu.active {
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
  }
  
  .menu__item.active {
    margin-right: 0;
    margin-bottom: 30px;
  }
  
  .menu__item.active a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 0;
    height: 2px;
    background-color: #1e82f5;
    -webkit-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
  }
  
  .menu__item.active a:hover:after, .menu__item.active:focus:after {
    width: 100%;
  }
  
  .top__btn.active {
    z-index: 0;
  }
  
  .top {
    width: 100%;
    padding-top: 285px;
    padding-bottom: 50px;
    color: #fff;
    background: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  
  .top__name {
    position: absolute;
    top: -160px;
    left: 8px;
    font-size: 132px;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 0.2;
  }
  
  .top__box {
    margin-left: 100px;
  }
  
  .top__title {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .top__text {
    display: inline-block;
    font-size: 22px;
    letter-spacing: 0.85px;
    margin-bottom: 50px;
    padding-left: 55px;
    position: relative;
  }
  
  .top__text::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    width: 30px;
    height: 2px;
    background-color: #fff;
  }
  
  .top__btn {
    position: relative;
  }
  
  .top__btn::before {
    content: "";
    position: absolute;
    background-image: url("../images/btn-border.png");
    left: 4px;
    top: 15px;
    width: 220px;
    height: 50px;
    z-index: 1;
  }
  
  .top__btn a {
    position: relative;
    background-color: #2763fb;
    font-size: 17px;
    padding: 20px 35px 18px 35px;
    margin-bottom: 125px;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    z-index: 2;
  }
  
  .top__btn a:hover {
    -webkit-transform: translate(-2px, -4px);
        -ms-transform: translate(-2px, -4px);
            transform: translate(-2px, -4px);
  }
  
  .top__social {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .top__social-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 10px;
  }
  
  .top__social-item {
    margin-right: 25px;
  }
  
  .top__social-item:nth-last-child(1) {
    margin-right: 15px;
  }
  
  .tours {
    padding-top: 150px;
  }
  
  .tours__title {
    color: #fff;
    font-size: 36px;
    letter-spacing: 0.85px;
    text-align: center;
    margin-bottom: 100px;
  }
  
  .tours__items {
    width: 100%;
    padding-bottom: 50px;
    white-space: nowrap;
    overflow: auto;
  }
  
  .tours__item {
    display: inline-block;
    max-width: 320px;
    background-color: #fff;
    margin-right: 20px;
    margin-left: 25px;
  }
  
  .tours__item-inner {
    padding: 0 24px 25px 30px;
  }
  
  .tours__item-img {
    margin-bottom: 25px;
  }
  
  .tours__item-img img {
    width: 100%;
  }
  
  .tours__item-name {
    color: #282828;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .tours__item-period {
    color: #0060ff;
    font-size: 12px;
  }
  
  .tours__item-text {
    color: #363636;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    white-space: initial;
  }
  
  .tours__item-date {
    color: #0060ff;
    font-size: 12px;
    letter-spacing: 0.3px;
    margin-bottom: 25px;
  }
  
  .tours__item-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .tours__item-price {
    color: #282828;
    font-size: 18px;
    font-weight: 600;
  }
  
  .tours__item-btn {
    color: #fff;
    background-color: #2763fb;
    padding: 11px 50px 10px 22px;
    font-size: 11px;
    letter-spacing: 0.28px;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.36);
            box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.36);
    position: relative;
  }
  
  .tours__item-btn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  
  .tours__item-btn::before {
    content: "";
    position: absolute;
    background-image: url("../images/iconmonstr-arrow-25.svg");
    width: 9px;
    height: 12px;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .description {
    padding-top: 150px;
    position: relative;
    color: #fff;
  }
  
  .description__box {
    max-height: 450px;
    max-width: 345px;
    overflow: auto;
  }
  
  .description__suptitle {
    margin-bottom: 42px;
  }
  
  .description__title {
    font-size: 36px;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 80px;
  }
  
  .description__suptitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 120px;
    margin-left: 70px;
  }
  
  .description__text {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.7px;
    max-width: 270px;
    margin-left: 70px;
  }
  
  .description__text span {
    color: #2586f5;
    font-weight: 700;
    font-size: 16px;
  }
  
  .description__bg {
    display: block;
    position: absolute;
    top: 30%;
    right: 0;
    height: 70%;
    max-width: 60%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .team {
    padding-top: 150px;
  }
  
  .team__title {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 75px;
    text-align: center;
  }
  
  .team__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color: #fff;
    text-align: center;
    margin-bottom: 84px;
  }
  
  .team__item {
    max-width: 260px;
  }
  
  .team__img {
    border: 3px solid #224164;
    border-radius: 50%;
    padding: 8px;
    margin-bottom: 30px;
  }
  
  .team__name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .team__activity {
    color: #919caa;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  
  .team__experience {
    font-size: 13px;
    margin-bottom: 10px;
  }
  
  .team__text {
    font-size: 13px;
    line-height: 18px;
  }
  
  .team__btn {
    position: relative;
  }
  
  .team__btn::before {
    content: "";
    position: absolute;
    background-image: url("../images/btn-border.png");
    left: 12px;
    top: 18px;
    width: 220px;
    height: 50px;
    z-index: 1;
  }
  
  .team__btn a {
    position: relative;
    color: #fff;
    background-color: #2763fb;
    font-size: 17px;
    padding: 20px 35px 18px 35px;
    z-index: 2;
  }
  
  .team__btn a:hover {
    -webkit-transform: translate(-2px, -4px);
        -ms-transform: translate(-2px, -4px);
            transform: translate(-2px, -4px);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .team__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .gallary {
    padding-top: 150px;
  }
  
  .gallary__title {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 75px;
    text-align: center;
  }
  
  .gallary__wrapper {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    max-width: 100%;
    margin: 0 auto;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  
  .gallary__img {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
  }
  
  .about {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  
  .about__title {
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 73px;
  }
  
  .about__content {
    padding: 71px 8% 25px;
  }
  
  .about__img {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .about__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50%;
  }
  
  .about__content {
    background-color: #fff;
  }
  
  .about__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    color: #223954;
    margin-bottom: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .about__name span {
    color: #a1a1a1;
    font-size: 14px;
  }
  
  .about__type {
    font-size: 14px;
    font-weight: 600;
    color: #666666;
    margin-bottom: 55px;
  }
  
  .about__type span {
    color: #4296f6;
    text-decoration: underline;
  }
  
  .about__text {
    font-size: 15px;
    font-weight: 500;
    color: #1b2a3b;
    margin-bottom: 24px;
  }
  
  .about__number {
    font-size: 20px;
    text-align: right;
  }
  
  .about__number span {
    color: #1e82f5;
    padding-right: 3px;
    border-bottom: 1px solid #1e82f5;
  }
  
  .about__number span + span {
    color: #8d8d8d;
    padding-left: 3px;
    border-bottom: 1px solid #8d8d8d;
  }
  
  .slider__arrows-left {
    position: absolute;
    right: 50%;
    bottom: 14%;
    z-index: 1;
    cursor: pointer;
  }
  
  .slider__arrows-right {
    position: absolute;
    right: 47.5%;
    bottom: 14%;
    z-index: 1;
    cursor: pointer;
  }
  
  .footer {
    padding: 85px 0 0;
    background-color: #182d43;
    color: #fff;
  }
  
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .footer__menu {
    max-width: 200px;
    margin-right: 100px;
    margin-bottom: 50px;
  }
  
  .footer__menu:nth-last-child(1) {
    margin-right: 0;
  }
  
  .footer__menu-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  
  .footer__menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer__menu-item {
    font-size: 14px;
    line-height: 30px;
    color: #bac0c7;
  }
  
  .social__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
  }
  
  .social__items-link {
    padding-right: 20px;
  }
  
  .slick-active {
    outline: none;
  }
  
  .simplebar-track.simplebar-vertical {
    width: 8px;
    background-color: #395b80;
    outline: none;
    border: none;
  }
  
  .simplebar-track.simplebar-horizontal {
    width: auto;
    background-color: #395b80;
    outline: none;
    border: none;
  }
  
  .simplebar-content-wrapper {
    padding-right: 20px;
  }
  
  .simplebar-scrollbar {
    border-radius: 50px;
    width: auto;
    background-color: #1e82f5;
    outline: none;
    border: none;
  }
  
  .simplebar-scrollbar:before {
    background: none;
    border-radius: 15px;
  }
  
  @media (max-width: 1024px) {
    body.lock {
      overflow: hidden;
    }
    .burger-btn {
      display: block;
      z-index: 999;
    }
    .menu {
      position: fixed;
      top: -100%;
    }
    .menu__items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 40vh;
    }
    .menu__item {
      font-size: 36px;
    }
    .top__box {
      margin-left: 20px;
    }
    .top__name {
      left: 5%;
      font-size: 115px;
    }
    .tours__items {
      z-index: 0;
    }
    .tours__item {
      margin-right: 80px;
      margin-left: 80px;
    }
    .team__btn {
      z-index: 0;
    }
    .description {
      padding-top: 150px;
    }
    .description__box {
      z-index: 0;
      margin-left: 5%;
    }
    .description__text {
      margin-left: 20px;
    }
    .description__title {
      text-align: center;
      margin-left: 0;
    }
    .description__bg {
      display: block;
      position: inherit;
      max-width: 100%;
      height: auto;
      margin-top: 75px;
    }
    .team__item:not(:last-child) {
      margin-bottom: 50px;
    }
    .gallary__wrapper {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
    }
    .about__slider {
      z-index: 0;
    }
  }
  
  @media (max-width: 640px) {
    body.lock {
      overflow: hidden;
    }
    .burger-btn {
      display: block;
      z-index: 999;
    }
    .menu {
      position: fixed;
      top: -100%;
    }
    .menu__items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 32vh;
    }
    .menu__item {
      margin-right: 0;
      margin-bottom: 30px;
    }
    .menu__item a::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 16px;
      width: 0;
      height: 2px;
      background-color: #1e82f5;
      -webkit-transition: width 0.3s ease-out;
      -o-transition: width 0.3s ease-out;
      transition: width 0.3s ease-out;
    }
    .menu__item a:hover:after, .menu__item:focus:after {
      width: 100%;
    }
    .top {
      padding-top: 210px;
    }
    .top__name {
      font-size: 56px;
      left: 2%;
      top: -85px;
    }
    .top__box {
      margin-left: 0;
    }
    .top__title {
      font-size: 37px;
    }
    .top__text {
      font-size: 15.7px;
    }
    .top__btn {
      margin-bottom: 15px;
    }
    .top__btn::before {
      right: 25px;
    }
    .top__btn a {
      margin-bottom: 130px;
    }
    .top__social {
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: -30px;
    }
    .top__social-items {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    .tours__item {
      margin-right: 35px;
      margin-left: 1%;
    }
    .tours__item-inner {
      padding: 0 12px 25px 12px;
    }
    .tours__item-price {
      margin-right: 20px;
    }
    .description__text {
      margin-left: 0;
    }
    .about__title {
      font-size: 33.6px;
    }
    .about__box {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-left: 0;
    }
    .about__img {
      position: inherit;
      max-width: 100%;
      width: 100%;
    }
    .gallary__wrapper {
      -webkit-column-count: 1;
         -moz-column-count: 1;
              column-count: 1;
    }
    .footer {
      padding: 85px 0 0;
    }
    .footer__wrapper {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .footer__logo {
      text-align: center;
    }
    .footer__box {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    .footer__menu:nth-last-child(1) {
      margin-bottom: 10px;
    }
    .footer .social__items {
      width: 250px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    .footer .social__items-link {
      padding-right: 0;
    }
    .slider__arrows-left {
      left: 0;
      bottom: 40%;
    }
    .slider__arrows-right {
      position: absolute;
      right: 0;
      bottom: 40%;
    }
  }